/*@font-face {*/
    /*font-family: 'Maven Pro';*/
    /*src: url('assets/fonts/MavenPro-Regular.ttf') format("ttf");*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
/*}*/

/*@font-face {*/
    /*font-family: 'Lato';*/
    /*src: url('assets/fonts/Lato-Regular.ttf') format("ttf");*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
/*}*/

html, body {
    width: 1020px;
    margin: auto;
    padding: 0;

    scroll-behavior: smooth;
}

/*title h1*/
.visually-hidden {
    position: absolute;

    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(0px 0px 99.9% 99.9%);
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;

    overflow: hidden;
}

/*header*/
.header {
    position: relative;

    height: 89px;
}

.navigation {
    height: 63px;

    background-color: #323232;
}

.navigation::before {
    content: "";
    position: absolute;
    top: 74px;
    left: 30px;

    display: block;
    width: 410px;
    height: 1px;

    background-color: #e4e9eb;
}

.navigation::after {
    content: "";
    position: absolute;
    top: 74px;
    right: 30px;

    display: block;
    width: 410px;
    height: 1px;

    background-color: #e4e9eb;
}

.menu {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;

    list-style: none;
}

.menu li {
    z-index: 1;

    align-self: center;
}

.navbar-logo {
    margin: 10px 34px 0 39px;
}

.menu a {
    padding: 10px;

    font-size: 10px;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
}

.menu a:hover {
    color: #2eb398;
}

.dot::after {
    content: ".";
    position: relative;
    bottom: 2px;

    color: #494e62;
}

.left-item {
    position: relative;
    top: 0;
    left: 12px;
}

.right-item {
    position: relative;
    top: 0;
    left: -6px;
}

.navbar-hexagon {
    position: absolute;
    top: -15px;
    left: 50%;

    transform: translate(-50%,-50%);
}

.hexagon {
    width: 180px;
    height: 207px;

    transform: rotate(120deg);

    overflow: hidden;
}

.hex-nav-1,
.hex-image-1,
.hex-layer {
    height: 100%;

    transform: rotate(-60deg);

    overflow: hidden;
}

.hex-nav-2,
.hex-layer-1,
.hex-layer-2,
.hex-layer-3,
.hex-layer-4,
.hex-layer-5,
.hex-layer-6,
.hex-layer-7,
.hex-layer-8,
.hex-layer-9,
.hex-layer-10,
.hex-layer-11,
.hex-layer-12,
.hex-layer-13 {
    height: 100%;

    transform: rotate(-60deg);

    background-color: #323232;
}

/* main section portfolio*/
.portfolio {
    height: 636px;
    padding-top: 59px;
}

.hexagon-container {
    width: 980px;
    height: 542px;
    margin: auto;
}

.hexagon-layer {
    display: inline-block;
    margin: 8px;
}

.row-native {
    position: relative;
    top: -4px;
    left: 87px;
}

.row-translate {
    position: relative;
    top: -62px;
    left: -7px;

    width: 1020px;
}

.row-native:not(:first-child) {
    margin-top: -118px;
}

.row-native::before,
.row-native::after {
    content: "";
    position: relative;
    bottom: 59px;
    left: -8px;

    display: inline-block;
    width: 1px;
    height: 104px;

    background-color: #e4e9eb;
}

.row-native::after {
    left: 8px;
}

.hex-layer-1 {
    background:  #ee6557 url("../assets/images/Layer1.png") no-repeat -23px -11px ;
}

.hex-layer-2 {
    background: #bfbfbf url("../assets/images/Layer2.png") no-repeat -20px -8px;
}

.hex-layer-3 {
    background: #ee6557 url("../assets/images/Layer3.png") no-repeat -20px -6px;
}

.hex-layer-4 {
    background: #323232 url("../assets/images/Layer4.png") no-repeat -20px -17px;
}

.hex-layer-5 {
    background: #16a6b6 url("../assets/images/Layer5.png") no-repeat -21px -12px;
}

.hex-layer-6 {
    background: #323232 url("../assets/images/Layer6.png") no-repeat -22px -14px;
}

.hex-layer-7 {
    background: #16a6b6 url("../assets/images/Layer7.png") no-repeat -21px -8px;
}

.hex-layer-8 {
    background: #bfbfbf url("../assets/images/Layer8.png") no-repeat -21px -9px;
}

.hex-layer-9 {
    background: #16a6b6 url("../assets/images/Layer9.png") no-repeat -23px -12px;
}

.hex-layer-10 {
    background: #bfbfbf url("../assets/images/Layer10.png") no-repeat -20px -6px;
}

.hex-layer-11 {
    background: #323232 url("../assets/images/Layer11.png") no-repeat -20px -6px;
}

.hex-layer-12 {
    background: #323232 url("../assets/images/Layer12.png") no-repeat -19px -5px;
}

.hex-layer-13 {
    background:  #ee6557 url("../assets/images/Layer13.png") no-repeat -10px -6px;
}

.slider {
    position: relative;
    top: 65px;
    left: 30px;
}

.slider-list {
    display: flex;
    margin: 0;
    padding: 0;

    list-style: none;
}

.slider-list li {
    width: 6px;
    height: 6px;
    margin-right: 3px;

    background-color: #ddd2c5;
}

.slider-list li:nth-child(3) {
    background-color:  #8b8784;
}

.step-hexagon {
    position: relative;
    bottom: -62px;
    left: 31px;

    display: inline-block;
    width: 960px;
    height: 1px;

    background-color: #e4e9eb;
}

/*main section about*/
.about {
    height: 341px;

    background-color: #2eb398;
}

.container {
    position: relative;
    top: 13px;

    height: 275px;
    margin: 0 99px 12px;
    padding: 20px;

    border-left: 1px solid #219d84;
    border-right: 1px solid #219d84;
}

.hexagon-wrap {
    position: relative;
    top: 35px;

    display: inline-block;
    margin-right: 15px;
}

.hex-image-2 {
    height: 100%;

    background: #ddd2c5 url("../assets/images/Image.png") no-repeat -120px -1px;

    transform: rotate(-60deg);
}

.content-about {
    display: inline-block;
    width: 580px;
    margin-top: 12px;
    vertical-align: top;
}

.title-about {
    margin-top: 30px;

    font-weight: 400;
    font-size: 30px;
    line-height: 6px;
    font-family: 'Maven Pro', sans-serif;
    color: #d7fcf5;
}

.sub-title-about {
    margin-top: -8px;

    font-weight: 400;
    font-size: 18px;
    line-height: 13px;
    font-family: 'Maven Pro', sans-serif;
    color: #20816d;
}

.text-about {
    font-size: 12px;
    line-height: 22px;
    font-family: 'Lato', sans-serif;
    color: #d7fcf5;
}

.social-links {
    float: right;
    margin-top: 23px;
}

/*footer*/
.get-in-touch {
    height: 564px;

    color: #bebebe;

    background-color: #323232;
}

.content-in-touch {
    position: relative;
    top: 14px;

    width: 960px;
    height: 538px;
    margin: auto;

    border-top: 1px solid  #2b2b2b;
    border-bottom: 1px solid  #2b2b2b;
}

.col-1-2 {
    display: inline-block;
    width: 580px;
    margin-left: 90px;
    margin-right: 16px;
    vertical-align: top;
}

.col-2-2 {
    display: inline-block;
    width: 180px;
    margin-top: 101px;
    vertical-align: top;
}

.title-form {
    margin-top: 59px;
    margin-bottom: 15px;

    font-weight: 400;
    font-size: 30px;
    line-height: 5px;
    font-family: 'Maven Pro', sans-serif;
    color: #e0e0e0;
}

.sub-title-form {
    font-size: 18px;
    line-height: 21px;
    font-family: 'Maven Pro', sans-serif;
    color: #bebebe;
}

.input-name,
.input-email,
.input-subject,
.textarea-message {
    height: 35px;
    margin-top: 20px;

    font-size: 12px;
    font-family: 'Lato', sans-serif;
    color: #bebebe;

    border-width: 0;
}

.input-email {
    margin-top: 16px;
}

.input-subject {
    margin-top: 18px;
    margin-bottom: 15px;
}

.textarea-message {
    width: 563px;
    height: 141px;
    margin-top: 0;
    padding-top: 9px;
    padding-left: 15px;

    line-height: 21px;

    background-color: #454545;

    resize: none;
}

.text-in-touch {
    font-size: 12px;
    line-height: 22px;
    font-family: 'Lato', sans-serif;
    text-align: justify;
    color: #e0e0e0;
}

.get-in-touch input {
    width: 565px;
    padding-left: 15px;

    background-color: #454545;
}

.in-touch-form input::placeholder,
textarea::placeholder {
    color: #bebebe;
}

.in-touch-form input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #bebebe;
}

.in-touch-form input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #bebebe;
}

.get-in-touch button {
    width: 90px;
    height: 37px;
    margin-top: 11px;

    float: right;

    font-size: 12px;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    color: #d7fcf5;

    background-color: #2eb398;
    border-width: 0;
}

.get-in-touch button:hover {
    background-color: #20816d;
}

.contact-info {
    display: flex;
    width: 155px;
    margin-top: 33px;

    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    font-family: 'Lato', sans-serif;
    color: #bebebe;
}

.icon-contact {
    display: block;
    margin-right: 10px;
}
.icon-contact a {
    display: block;
}

.footer-bottom {
    width: 100%;
    height: 43px;

    background-color: #222222;
}

.footer-text {
    padding: 15px 39px;

    font-size: 12px;
    font-family: 'Maven Pro', sans-serif;
    color: #454545;
}